.login-navbar {
    background-color: #6300B3;
    padding: 9px 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-navbar .navbar-brand {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-decoration: none;
}

.login-hero-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: calc(100vh - 60px); 
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px; 
}

.login-hero-image {
    flex: 1;
    max-width: 100%;
    margin-right: 20px;
}

.login-hero-text {
    flex: 1;
    max-width: 400px;
    text-align: center;
}

.login-form-container {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    margin: 0 auto; 
    box-sizing: border-box; 
    margin-right: 60px;
}

.login-title {
    font-size: 2rem;
    color: #6300B3;
    margin-bottom: 10px;
}

.login-description {
    font-size: 1.1rem;
    color: #303030;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #303030;
}

.form-control {
    width: 100%; 
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.api-error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 10px;
}

.login-footer {
    background-color: #6300B3;
    color: #FFFFFF;
    padding: 5px 0;
    text-align: center;
}

.forgot-password-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer; 
    transition: color 0.3s ease; 
  }
  
  .forgot-password-text:hover {
    color: #0056b3; 
    text-decoration: underline; 
  }
  

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .login-hero-section {
        flex-direction: column;
    }
}