body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #6300b3;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}

.navbar-header {
  text-align: left;
  font-size: small;
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
}

.navbar-button1 {
  background-color: #fff;
  color: #6300b3;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s, transform 0.3s;
}

.navbar-button1:hover {
  background-color: #dcdcdc;
  transform: scale(1.05);
}

.my-job-listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
  overflow: hidden;
  width: 100%;
  animation: slideIn 1s ease-out;
}

.my-job-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 300px;
  max-width: 80%;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.my-job-card:hover {
  transform: scale(1.02);
}

.my-company-logo {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.my-job-title {
  font-size: 1.1em;
  margin: 8px 0;
}

.my-company-name,
.my-job-type,
.my-salary-range,
.my-experience-required {
  margin: 4px 0;
}

.my-status-button {
  border: none;
  padding: 6px 12px;
  color: #fff;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.my-status-button:hover {
  transform: scale(1.05);
}

.my-status-button.applied {
  background-color: #2196f3;
}

.my-status-button.shortlisted {
  background-color: #4caf50;
}

.my-status-button.rejected {
  background-color: #f44336;
}

.my-status-button.withdrawn {
  background-color: #ff9800;
}

.my-status-button.withdraw {
  background-color: #ff5722;
}

.job-portal-footer1 {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background-color: #6300b3;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}

@media (max-width: 1200px) {
  .my-job-listings {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .my-job-listings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .my-job-listings {
    grid-template-columns: 1fr;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
